/* App.css */

.App {
  text-align: center;
  width: 100%; /* Remove quotes */
  height: 100%; /* Remove quotes */
}

.banner {
  width: 100%;
  height: 50px;
  color: white; /* Ensure the text color contrasts with the background */
  background-color: black; /* Correct property name */
  padding: 20px; /* Optional: Add some padding for better appearance */
  display: flex; /* Add display flex to use justify-content */
  justify-content: space-between; /* Correct usage of justify-content */
}

.first {
  width: 50%;
  height: 20%;
  display: flex; /* Add display flex to use justify-content */
  justify-content: flex-start; /* Correct usage of justify-content */
  background-color: black;
  padding: 10px;
  margin-left: 270px;
  margin-top: -20px;
}

.second {
  width: 20%;
  height: 20%;
  margin-right: 152px;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-end; /* Correct usage of justify-content */
  margin-top: -20px;

 

}



.firstinner {
  width: 80%;
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
}

.secondinner {
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  background-color: black;

}

.firstText {
  font-size: 1.1rem;
  font-weight: 450;
}

.secondinner {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: underline;
}

.text1
{
  font-size: 1.1rem;
  margin-left: -180px;
  font-weight: 450;

}

 .ima {
  width:22px;
  height:33px;
}

.secondText 
{
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 13px;
}